.btn-blue{ 
	background-color: #F29CA3;
	padding: 15px 20px;
	border-radius: 4px;
	color:white;
	font-weight: bold;
	font-family: 'inter', sans-serif;
}
.btn-blue:hover { 
	background-color: #FF3399;
}