.cards{ 
  	display: flex;
  	flex-wrap: wrap;
} 

.card { 
  	padding: 20px;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 10px 30px rgb(0, 0, 0, 0.2);
    border-radius: 6px;
    margin: 10px;
    flex-basis: 390px;
    flex-grow: 1;
    text-align: center;
    gap: 25px;

} 

.card2 { 
    padding: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0px 10px 30px rgb(0, 0, 0, 0.2);
    border-radius: 8px;
    margin: 0px;
    flex-basis: 390px;
    flex-grow: 1;
    flex-direction:column;
}  

.card img{ 
  	width: 200px;
    border-radius: 5px;

    height: 250px;
    object-fit: cover;
} 

.card2 img{ 
    width: 700px;
    border-radius: 5px;
} 

.card h2{ 
    font-size: 40px;
    margin: 0px;
    flex-grow: 1;
    padding-left: 20px;
}

.card2 h3{ 
    font-size: 40px;
    font-weight: lighter;
    margin: 0px;
    flex-grow: 1;
    padding-left: 20px;
}
.card h3{ 
    font-size: 40px;
    margin: 0px;
    flex-grow: 1;
    padding-left: 20px;
}

.card p { 
    flex-grow: 1;
    padding-left: 20px;
    font-size: 24px;
    margin: 0px;
}

