.container{ 
	width: 900px;
	margin: 120px auto;
}

@media (max-width: 950px){
	.container {
		width: 600px;
}
}
@media (max-width: 630px){
	.container {
		width: 450px;
}
}
@media (max-width: 540px){
	.container {
		width: 300px;
}
}
